<!DOCTYPE html>
<html lang="en" ng-app="gitNkitApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>gitNkit</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/gitNkit.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body ng-controller="gitNkitController">
		<nav style="-webkit-app-region: drag;" class="navbar navbar-default navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div style="-webkit-app-region: no-drag;" class="navbar-header">
				<a class="navbar-brand" href="#"><img style="vertical-align: middle" src="icons/gitNkit16.png"/> gitNkit</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
				<ul style="-webkit-app-region: no-drag;" class="nav navbar-nav pull-right">
					<li>
						<a ng-click="debug()" href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
					</li>
					<li>
						<a ng-click="exit()" href="#"><span class="glyphicon glyphicon-remove-circle"></span></a>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>

		<div ui-view></div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular.js"></script>
		<script src="js/angular-ui-router.min.js"></script>
		<script src="js/gitNkit.js"></script>
	</body>
</html>